In [2]:
##Date:05-Mar-2024
#Time:1:00
import pandas as pd

## Creation

In [3]:
cdf=pd.DataFrame({"Col1":[50,100],'Col2':[100,90]})
cdf

   Col1  Col2
0    50   100
1   100    90

In [4]:
cdf1=pd.DataFrame({"Col1":[50,100],'Col2':[100,90]},index=['row1','row2'])
cdf1.to_csv('Dataset/newData.csv')

## Reading

In [5]:
cdfs=pd.read_csv('Dataset/newData.csv')
cdfs

  Unnamed: 0  Col1  Col2
0       row1    50   100
1       row2   100    90

In [6]:
cdfs1=pd.read_csv('Dataset/newData.csv',index_col=0)
cdfs1

      Col1  Col2
row1    50   100
row2   100    90

In [7]:
df=pd.read_csv('Dataset/data.csv')
df.head(5)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

## Index

In [8]:
df.shape

(32, 5)

In [9]:
#Date:07-Mar-2024
#Time:23:20
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

### df.loc["INDEX","COLUMNS"]

In [10]:
df.loc[23]

Duration              60
Date        '2020/12/23'
Pulse                130
Maxpulse             101
Calories           300.0
Name: 23, dtype: object

In [11]:

df.loc[23,'Date']

"'2020/12/23'"

In [12]:
# df.max()  #only for numerical values

In [13]:
df['Pulse'].max()

130

In [14]:
df['Pulse'].min()

90

In [15]:
df.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [16]:
df.loc[[0,1,2,3,4,5]]

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0

In [17]:
df.loc[[0,1,2,3,4,5],'Calories']

0    409.1
1    479.0
2    340.0
3    282.4
4    406.0
5    300.0
Name: Calories, dtype: float64

In [18]:
df.sort_values(by=['Calories'],ascending=False)

    Duration          Date  Pulse  Maxpulse  Calories
1         60  '2020/12/02'    117       145     479.0
0         60  '2020/12/01'    110       130     409.1
4         45  '2020/12/05'    117       148     406.0
30        60  '2020/12/30'    102       129     380.3
14        60  '2020/12/14'    104       132     379.3
6         60  '2020/12/07'    110       136     374.0
21        60  '2020/12/21'    108       131     364.2
13        60  '2020/12/13'    106       128     345.3
2         60  '2020/12/03'    103       135     340.0
25        60  '2020/12/25'    102       126     334.5
10        60  '2020/12/11'    103       147     329.3
19        60  '2020/12/19'    103       123     323.0
23        60  '2020/12/23'    130       101     300.0
5         60  '2020/12/06'    102       127     300.0
17        60  '2020/12/17'    100       120     300.0
3         45  '2020/12/04'    109       175     282.4
22        45           NaN    100       119     282.0
29        60  '2020/12/29'    100       132     280.0
15        60  '2020/12/15'     98       123     275.0
9         60  '2020/12/10'     98       124     269.0
7        450  '2020/12/08'    104       134     253.3
12        60  '2020/12/12'    100       120     250.7
11        60  '2020/12/12'    100       120     250.7
26        60      20201226    100       120     250.0
24        45  '2020/12/24'    105       132     246.0
20        45  '2020/12/20'     97       125     243.0
31        60  '2020/12/31'     92       115     243.0
27        60  '2020/12/27'     92       118     241.0
16        60  '2020/12/16'     98       120     215.2
8         30  '2020/12/09'    109       133     195.1
18        45  '2020/12/18'     90       112       NaN
28        60  '2020/12/28'    103       132       NaN

In [19]:
(df['Pulse']==132)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
Name: Pulse, dtype: bool

In [20]:
df.loc[df['Maxpulse']==132]

    Duration          Date  Pulse  Maxpulse  Calories
14        60  '2020/12/14'    104       132     379.3
24        45  '2020/12/24'    105       132     246.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0

In [21]:
#Date:8-Mar-2024
for row in df:
    print(row)

Duration
Date
Pulse
Maxpulse
Calories

In [22]:
#most common Value
df['Maxpulse'].mode()

0    120
Name: Maxpulse, dtype: int64

In [23]:
#count
df['Maxpulse'].value_counts().head()

Maxpulse
120    5
132    4
123    2
130    1
129    1
Name: count, dtype: int64

In [24]:
df.loc[df['Maxpulse']==120].head(3)

    Duration          Date  Pulse  Maxpulse  Calories
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
16        60  '2020/12/16'     98       120     215.2

In [25]:

df.loc[df['Pulse']==100].sample(4)

    Duration          Date  Pulse  Maxpulse  Calories
12        60  '2020/12/12'    100       120     250.7
22        45           NaN    100       119     282.0
17        60  '2020/12/17'    100       120     300.0
29        60  '2020/12/29'    100       132     280.0

In [26]:
df.loc[df['Maxpulse']==120].sample(4)

    Duration          Date  Pulse  Maxpulse  Calories
26        60      20201226    100       120     250.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
11        60  '2020/12/12'    100       120     250.7

In [27]:
df.loc[df['Maxpulse']==120].head(4)

    Duration          Date  Pulse  Maxpulse  Calories
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0