In [13]:
##Date:05-Mar-2024
#Time:1:00
import pandas as pd

## Creation

In [25]:
cdf=pd.DataFrame({"Col1":[50,100],'Col2':[100,90]})
cdf

   Col1  Col2
0    50   100
1   100    90

In [30]:
cdf1=pd.DataFrame({"Col1":[50,100],'Col2':[100,90]},index=['row1','row2'])
cdf1.to_csv('Dataset/newData.csv')

## Reading

In [33]:
cdfs=pd.read_csv('Dataset/newData.csv')
cdfs

  Unnamed: 0  Col1  Col2
0       row1    50   100
1       row2   100    90

In [34]:
cdfs1=pd.read_csv('Dataset/newData.csv',index_col=0)
cdfs1

      Col1  Col2
row1    50   100
row2   100    90

In [17]:
df=pd.read_csv('Dataset/data.csv')
df.head(5)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [19]:
df.shape

(32, 5)